<h1 class="list_title">Edit List</h1>

<div class="forms">
  <%= render 'form', list: @list %>
</div>

<div class="links">
  <%#= link_to 'Show', @list %>
  <%= link_to 'Cancel', lists_path %>
</div>

